section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%);
}

.img-1 {
  margin-left: 7rem;
  margin-top: 3rem;
  margin-bottom: 25rem;
}
