*{
  margin: 0rem;
  padding: 0rem;
}

html {
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-family: "Source Sans Pro", sans-serif;
}


